.comments-popup {
  max-height: 100vh;
  display: none;
  background-color: #ffe;
  width: 80vw;
  position: absolute;
  top: 0;
  left: 10vw;
  border-radius: 5px;
  margin: 0 auto;
  padding: 2rem;
  z-index: 11;
  box-shadow: 0 10px 10px 10px var(--dark);
  overflow-y: scroll;
}

.overlay-style {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-blue);
  opacity: 0.2;
}

.item-detail-box {
  display: flex;
  margin-bottom: 3rem;
  width: 100%;
}

.wrapper-image {
  box-shadow: 0 17px 24px 16px var(--light-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 0.5rem;
  margin-right: 3rem;
  border: 3px solid var(--white);
  overflow: hidden;
}

.popup-image {
  width: 100%;
  height: 25rem;
}

.image-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0.4rem 0.1rem;
  background: #333;
  background:
    linear-gradient(
      90deg,
      #333 0%,
      var(--white) 50%,
      #333 100%
    );
}

.image-slide img {
  height: 2rem;
  width: auto;
  cursor: pointer;
  transition: transform 0.75s ease-in-out;
  border-radius: 0.1rem;
}

.image-slide img:hover {
  transform: scale(1.2);
}

.item-title {
  font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
  .comments-popup {
    width: 96vw;
    left: 2vw;
    margin: 0 2vw;
    padding: 2rem;
  }

  .popup-close {
    right: 2rem;
  }

  .popup-image {
    width: auto;
    height: 25rem;
  }

  .item-detail-box {
    flex-direction: column;
  }
}

.item-specification {
  display: flex;
  flex-direction: column;
}

.item-specification span {
  padding-left: 1rem;
}

.item-category span {
  text-transform: capitalize;
}

.item-ratings {
  margin: 0.4rem 0;
  display: flex;
  align-items: center;
}

.stars-holder {
  padding-left: 1rem;
  color: var(--dark-pink);
}

.item-comments {
  padding: 0 2rem;
}

.comment-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.comment-title span {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  color: var(--white);
  background-color: var(--dark-pink);
}

.comment-holder {
  margin-bottom: 0.2rem;
  border: 1px solid var(--light-pink);
  border-radius: 0.5rem;
}

.customer-comment-body {
  padding: 0 1rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.customer-name {
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.bi-person-circle {
  font-size: 2rem;
  padding-right: 1rem;
  color: var(--dark-pink);
}

.customer-comment {
  padding-right: 4rem;
}

.customer-comment::first-letter {
  text-transform: uppercase;
}

.customer-comment-date {
  color: var(--dark-pink);
}

.comment-form {
  margin: 1rem 0;
  padding: 0.5rem 2rem;
}

.wrapper-name,
.wrapper-comment {
  width: 100%;
  margin-bottom: 1rem;
}

.wrapper-name input,
.wrapper-comment textarea {
  background-color: #ffe;
  color: var(--dark-blue);
  padding: 1rem;
  outline: none;
  border: 0.5px solid var(--white);
  border-bottom: 3px solid var(--white);
  border-radius: 0.4rem;
  width: 60%;
  transition: border-bottom 0.5s;
}

.wrapper-name input:hover,
.wrapper-name input:active,
.wrapper-name input:focus,
.wrapper-comment textarea:hover,
.wrapper-comment textarea:active,
.wrapper-comment textarea:focus {
  border-bottom: 3px solid var(--blue);
}

.btn {
  margin: 1rem 20%;
  padding: 1rem 2rem;
  min-width: 20rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-pink);
  transition: all 0.5s ease;
  border: 3px solid transparent;
  border-radius: 2rem;
}

.btn:hover {
  color: var(--dark-blue);
  background-color: var(--light-pink);
  border: 3px solid var(--dark-pink);
}

@media screen and (max-width: 768px) {
  .comments-popup {
    width: 98vw;
    left: 1vw;
    margin: 0 1vw;
    padding: 2rem;
  }

  .popup-close {
    right: 1rem;
  }

  .popup-image {
    width: auto;
    height: 15rem;
  }

  .item-comments {
    padding: 0;
  }

  .customer-comment-body {
    flex-direction: column;
    justify-content: start;
  }

  .customer-comment {
    padding-right: 0;
  }

  .comment-form {
    padding: 0.5rem;
  }

  .wrapper-name input,
  .wrapper-comment textarea {
    width: 90%;
    padding: 0.75rem;
  }

  .btn {
    margin: 1rem 20%;
    float: right;
    padding: 0.8rem 2rem;
    min-width: 10rem;
  }
}

.submit-status {
  color: var(--dark-pink);
  font-weight: 600;
  padding: 0.4rem 0;
}
